/* home */
.home_main {
    padding-top: 1rem;
}

.home_img {
    padding-bottom: 1rem;
    max-width: 40%;
}

.home_logo {
    font-size: 5rem;
}

.home_btn {
    margin: 1.25rem;
}



/* categories */
.container_categories {
    padding: 1rem 0;
    margin: auto;
}

.categories_cards {
    padding: 2rem;
    gap: 2.5rem;
}

.card_container {
    background-color: var(--gray2);
    width: 275px;
    border-radius: var(--br-sq);
}

.card_container:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1);
}

.card_heading {
    margin: auto;
}



/* rules */
.container_rules {
    padding: 3rem 2rem;
}

.rules_img {
    max-width: 20%;
    margin-bottom: 2rem;
}

.rules_list {
    padding: 1.5rem 2rem 3rem 2rem;
    gap: 1rem;
}

.rule {
    color: var(--white);
    font-size: 1.25rem;
    gap: 1rem;
}

.container_btn_rules {
    gap: 3rem;
}