/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');


/* stylesheets */
@import url("https://matrixui.netlify.app/assets/stylesheet.css");
@import url("/assests/buttons.css");
@import url("/assests/navbar_footer.css");


/* variables */
:root {
    /* font */
    --logo-font: 'Sigmar One', cursive;
    --text-font: 'Poppins', sans-serif;

    /* colors */
    --primary: #d5a6f1;
    --black: #222;
    --white: #eee;
    --gray1: #333;
    --gray2: #444;
    --gray3: #999;
    --red: #fc185cee;
    --green: #01ca8aee;
    --yellow: #ffa402;
    --primary-hover: #c987f0;

}


/* styles */
body {
    background-color: var(--black);
    color: var(--white);
}

.logo {
    color: var(--primary);
    font-family: var(--logo-font);
    font-size: 2rem;
}

.heading {
    color: var(--white);
    font-family: var(--text-font);
    text-decoration-color: var(--primary);
    /* margin: auto; */
}

.txt-gray {
    color: var(--gray3);
}