@import url("https://matrixui.netlify.app/assets/stylesheet.css");


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');


/* variables */
:root {
    /* font */
    --logo-font: 'Sigmar One', cursive;
    --text-font: 'Poppins', sans-serif;

    /* colors */
    --primary: #8854c0;
    --black: #111;
    --white: #eee;
    --gray: #333;
    --red: #fc185d;
    --green: #01ca8a;
    --yellow: #ffa402;
}